{% extends "base.html" %}
{% block title %}Wallet Registration{% endblock %}
{% block body %}
<div class="text-white h-80 d-flex align-items-center justify-content-center">
  <div class="d-flex-column bg-light p-5 rounded shadow text-black gap-between text-center">
  <h2>Register Wallet</h2>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <form action="/register" method="POST" class="reg-form">
    <input type="text" name="wallet_address" placeholder="Wallet Address" required class="text-center">
    <br>
    <input type="password" name="password" placeholder="Password" required class="text-center">
    <br>
    <button type="submit">Register</button>
  </form>
  <p class="text-black">
    Already registered? <a href="/wallet" class="text-dark">Login here</a>.
  </p>
  </div>
</div>  
{% block footer %}
{{super()}}
{% endblock %}
{% endblock %}